<!DOCTYPE html>
<html>
  <head>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
         <li><a href="<%= pages_home_path %>">Home</a></li>     
      </ul>     
    </div>
  </div>
</nav>
    <title>Actividad24</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= params[:controller] %>">

  <div class="container">
   
        <%= yield %>
   
  </div>
  </body>
</html>
